<div class="sidebar-panel">
  <div class="flex h-full grow flex-col bg-white pl-[var(--main-sidebar-width)] dark:bg-navy-750">
    <!-- Sidebar Panel Header -->
    <div class="flex h-18 w-full items-center justify-between pl-4 pr-1">
      <p class="text-base tracking-wider text-slate-800 dark:text-navy-100">
        Dashboards
      </p>
      <button
        class="sidebar-close btn h-7 w-7 rounded-full p-0 text-primary hover:bg-slate-300/20 focus:bg-slate-300/20 active:bg-slate-300/25 dark:text-accent-light/80 dark:hover:bg-navy-300/20 dark:focus:bg-navy-300/20 dark:active:bg-navy-300/25 xl:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
    </div>

    <!-- Sidebar Panel Body -->
    <div class="nav-wrapper h-[calc(100%-4.5rem)] overflow-x-hidden pb-6" data-simplebar>
      <ul class="flex flex-1 flex-col px-4 font-inter">
        <li
          class="ac nav-parent [&.is-active_.ac-trigger]:font-semibold [&.is-active_.ac-trigger]:text-slate-800 dark:[&.is-active_.ac-trigger]:text-navy-50 [&.is-active_svg]:rotate-90">
          <button
            class="ac-trigger flex w-full items-left text-left justify-between py-2 text-xs+ tracking-wide text-slate-600 outline-none transition-[color,padding-left] duration-300 ease-in-out hover:text-slate-800 dark:text-navy-200 dark:hover:text-navy-50">
            <span>Cuadros de Mando (CMI)</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-slate-400 transition-transform ease-in-out"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
          </button>
          <ul class="ac-panel">
            <li>
              <a href="@Url.Action("Index", "CMI")"
                class="nav-link flex items-center justify-between p-2 text-xs+ tracking-wide outline-none transition-[color,padding-left] duration-300 ease-in-out hover:pl-4"
                data-default-class="text-slate-600 hover:text-slate-800 dark:text-navy-200 dark:hover:text-navy-50"
                data-active-class="font-medium text-primary dark:text-accent-light">
                <div class="flex items-center space-x-2">
                  <div class="h-1.5 w-1.5 rounded-full border border-current opacity-40"></div>
                  <span>Lista de CMI's</span>
                </div>
              </a>
            </li>
          </ul>
        </li>
    </div>
  </div>
</div>